/* 

SETTINGS 

*/

:root{
    --color-aplha: #de4831;
    --color-beta: #e1decb;
    --color-dark: #221e21;
    --gutter: 24px;
}

/* 

ELEMENTS 

*/

body,
html{
    /* Positioning */
    /* Box model */
    /* Fonts */
    font-family: 'Sarabun', sans-serif;
    font-size: 17px;
    line-height: 1.6;
    color:var(--color-dark);
    /* Appearance */
    /* Other styles */
}

/* 

OBJECTS 

*/
.o-grid {
    display: grid;
    gap: calc(var(--gutter)*2);
}
.o-hide{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

/* 

COMPONENTS 

*/

.c-sidebar-burger{
    display: none;
    position: absolute;
    top: 5px;
    left: 5px;
}

/* Sidebar */
.c-sidebar {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;/* add padding on the inside */
    padding: var(--gutter);

    background: var(--color-beta);
    overflow-x: auto;

}

.c-sidebar-header {
    display: flex;
    align-items: center;
}
.c-sidebar-header__image{
    max-height: var(--gutter);
}
.c-sidebar-header__title{
    margin-left: calc(var(--gutter)/2);
    font-size: 1rem; /* relative to the bodys font size */
}
.c-sidebar-menu {}

/* Menu */
.c-menu__title{
    margin-bottom: 0;

    font-size: .8rem;
    text-transform: uppercase;
    opacity: .7;
}
.c-menu__list {
    list-style:none;
    margin: 0 0 calc(var(--gutter)*3);
    padding: 0;
    
}
.c-menu__item{}

.c-menu__link {
    all: unset;

    color: var(--color-aplha);
    letter-spacing: 1px;
    font-size: 1rem;
    font-weight: 600;

    will-change: opacity;
    transition: opacity 200ms ease-out;

    opacity: .7;
    cursor: pointer;
}

.c-menu__link:hover{
    opacity: 1;
}
.c-sidebar-counter {
    font-size: .9rem;
    font-weight: 600;

}
/* content */
.c-content{
    height: 100vh;
    box-sizing: border-box;
    padding: var(--gutter) calc(var(--gutter)*2) var(--gutter) var(--gutter);
    overflow-x: scroll;
}
/* country */

.c-country{
    display: block;
    opacity: 1;

    cursor: pointer;
}
.c-country-input:checked + .c-country {
    opacity: .6;
}
.c-country-header{
    display: flex;
    align-items: flex-start;
}
.c-country-header__name{
    margin: 0;
    font-size: 1.1rem;

}
.c-country-header__flag{
    display: block;
    height: calc(var(--gutter)/1.5);
    margin-left: calc(var(--gutter)/2);

    border-radius: 4px;
}
.c-country__native-name{
    margin: 0;
    font-size: .9rem;
    opacity: .6;
}
.c-notifications{
    position: absolute;
    bottom: 0;
    right: calc(var(--gutter)*2);

    width: 300px;
}
.c-notification{
    margin: calc(var(--gutter)) 0;
    padding: calc(var(--gutter)/2);

    background-color: white;
    box-shadow: 1px 1px 2px 1p rgba(30,30,30,.1);

    will-change: opacity;
    opacity: 1;

    transition: opacity 800ms ease-in-out;
}
.c-notification__header{
    margin: 0;
    font-size: 1.1rem
}
.c-notification__action{
    all:unset;

    font-size: .9rem;
    color: var(--color-aplha);
    text-transform: uppercase;
    text-decoration: underline;

    cursor: pointer;
    will-change: opacity;
    opacity: .5;
    
    transition: opacity 200ms ease-in-out;
}

.c-notification__action:hover{
    opacity: 1;
}
/* 

UTILITIES 

*/
.u-grid-main-layout {
    min-height: 100vh;
    grid-template-columns: 350px 1fr;
}
.u-grid-overview {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.u-color-alpha{
    color: var(--color-aplha);
    font-style: normal;
}
.u-fade-out{
    opacity: 0;
}
@media screen and (max-width: 700px) {
    .u-grid-main-layout{
        grid-template-columns: 1fr;
    }
    .c-sidebar{
        display: none;
    }
    .c-sidebar-burger{
        display: block;
    }
}
.u-grid-active{
    grid-template-columns: 350px 1fr;
}
.u-sidebar-active{
    display: flex;
}
